


<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <style>
        .vertical-menu {
            width: 20%;
        }

        .vertical-menu a {
            background-color: #eee;
            color: black;
            display: block;
            padding: 50px;
            text-decoration: none;
            font-size: 150%;
        }

        .vertical-menu a:hover {
            background-color: #ccc;
        }

        .vertical-menu a.active {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>
<body>



<nav class="navbar navbar-expand-lg navbar-light bg-primary sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/" class="btn btn-dark ml-2 mr-lg-2" type="submit">Home</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li class="nav-item">
                <div class="btn-group">
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Apple
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="apple">i phone 7</a></li>
                            <li><a href="">i phone 8</a></li>
                            <li><a href="#">i phone x</a></li>
                        </ul>
                    </div>

                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Samsung
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">s1</a></li>
                            <li><a href="#">s2</a></li>
                            <li><a href="#">s3</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Xiaomi
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Redmi note 4</a></li>
                            <li><a href="#">Redmi note 4 +</a></li>
                            <li><a href="#">Redmi note 5</a></li>
                        </ul>
                    </div>


                </div>
            </li>
        </ul>


        {{# if login}}
            <a href="cart" class="btn btn-info ml-1 mr-lg-1"> <i class="fas fa-shopping-cart"></i>Shopping Cart <span class="badge bg-warning">{{session.cart.totalqty}}</span></a>
            <a href="profile" class="btn btn-info ml-1 mr-lg-1"> <i class="fas fa-user"></i>Profile</a>
            <a href="logout" class="btn btn-info ml-2 mr-lg-2" >Logout</a>
        {{else}}
            <a href="signup" class="btn btn-info ml-1 mr-lg-1" ><i class="fas fa-user"></i>Sign up</a>
            <a href="login" class="btn btn-info ml-1 mr-lg-1"><i class="fas fa-sign-in-alt"></i>Sign in</a>
        {{/if}}



        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-lg-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-info ml-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<!--<div class=" mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">-->

<!--<div class=" shadow-sm mx-auto" style="width: 600px;  margin: auto; border: 3px groove cyan; height: 600px;">-->
<div class="row ">
    <!--<div class="" style="width: 20%;  margin: 0px;  height: 100%;">-->
    <div class="vertical-menu col-md-4-* bg-dark position-fixed my-2" style="width: 20%;   height: 1000px;">
        <a href="#" class="active">Home</a>
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        <a href="#">Link 4</a>
    </div>
    <div class="col-md-8-* bg-info my-2" style="width:60%;  margin: auto; margin-top: 10px height: 100%;">
        <div class="d-md-flex flex-column flex-md-equal w-100 my-md-3 pl-md-3">
                <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                            <div class="bg-light shadow-sm mx-auto" style="width: 100%; height: 100%; border-radius: 21px 21px 0 0;">
                                        <div class=" mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" >
                                                    <div >
                                                        <img src="{{this.imagePath}}" width="80" height="40"><br>
                                                        <label style="color:black;">{{this.title}}</label><hr>
                                                    </div>
                                            <label class="float-left " style="color:black;"><h3>$ {{this.price}}</h3></label>
                                            <a href="/addtocart/{{this._id}}" class="btn btn-info btn-md mb-3 float-right" style="color:black;">Buy</a>
                                        </div>
                            </div>
                </div>

        </div>

    </div>

     <div class="col-md-8-* bg-info my-2" style="width:20%;  margin: auto; margin-top: 10px height: 100%;">
            <div class="d-md-flex flex-column flex-md-equal w-100 my-md-3 pl-md-3">
                <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">

                  </div>
        </div>

</div>



</div>




{{csrftoken}}
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>


